ci:
    autoupdate_schedule: quarterly

repos:
  - repo: https://github.com/PyCQA/isort
    rev: 5.11.4
    hooks:
      - id: isort
        files: .+\.py$

  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8

  - repo: https://github.com/rstcheck/rstcheck
    rev: v6.1.1
    hooks:
        - id: rstcheck
          additional_dependencies: [sphinx]

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.16
    hooks:
    - id: mdformat
      additional_dependencies:
        - mdformat-black
        - mdformat-myst

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.6.0
    hooks:
        - id: nbqa-black
        - id: nbqa-pyupgrade
          args: [--py37-plus]
        - id: nbqa-isort
        - id: nbqa
          entry: nbqa mdformat
          name: nbqa-mdformat
          alias: nbqa-mdformat
          additional_dependencies: [mdformat==0.7.14]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
     - id: pyupgrade
       args:
         - "--py37-plus"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-yaml

  - repo: https://github.com/keewis/blackdoc
    rev: v0.3.8
    hooks:
      - id: blackdoc
        files: .+\.py$

  - repo: https://github.com/citation-file-format/cff-converter-python
    rev: ebf0b5e44d67f8beaa1cd13a0d0393ea04c6058d
    hooks:
    - id: validate-cff
